*{
    background-color: black;
    color : white ;
}

main{
    padding : 4rem;
}

section{
    border : 2px solid red ;
    height: 500px;
    width: 250px;
    margin-left: auto;
    margin-right : auto;
}

.header{
    font-family: 'Inter';
}

.data{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    color : #9CA3AF
}

.profile{
    display: flex;
}

